<html>
<head>
    <link href="~/Stylesheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
</head>
<body>

    <h1>MVC Properties LLC</h1>


    <a href="@Url.Action("Index", "Hotels")">Add Hotels</a>
    <a href="@Url.Action("Index", "Amenities")">Add Amenities</a>
    <a href="@Url.Action("Index", "Rooms")">Add Room Names</a>
    <a href="@Url.Action("Index", "HotelRooms")">Add Hotel Rooms</a>
    <a href="@Url.Action("Index",  "RoomAmenities")">Add Room Amenities</a>

       
</body>
</html>